# Exercise sheet 2
**Hello everyone!**

This is the first graded exercise sheet. <br>
**Points: 15 (+1)**

Topics of this exercise sheet are:
* Work with Jupyter
* See autograding
* Lecture 2: Tidy data, pandas

Please let us know if you have questions or problems! <br>
Contact us during the exercise session, on [ADAM](https://adam.unibas.ch/goto_adam_crs_1266890.html), [Piazza](https://piazza.com/class/kzy15kp8s5t6ku), or [via email](https://sada.dmi.unibas.ch/en/teaching/pids22).

Please submit this exercise sheet on **ADAM**.
Naming conventions:
* Name of notebook: "Exercise sheet 2.ipynb"
* Please put it in a folder structure like this: "your_unibas_short_name/Exercise2/Exercise sheet 2.ipynb"
* Your Unibas short name should have the first 6 letters of your last name and then 4 numbers.
* Then zip this folder and upload it on ADAM.

**Handout date**: 2022/03/14 <br>
**Submission date**: 2022/03/21 <br>
**Discussion date**: 2022/03/22

## 1 - Tidy data (9 points)

### 1a (2 points)
We will use data published by the [World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL) about population in countries.

In [ ]:
import pandas as pd

population = pd.read_csv("population_data.csv", skiprows=3).dropna(how='all', axis=1)
population.head()

Manipulate the dataframe "population" to be tidy. Currently, column headers are values, not variable names.

* Make a new dataframe "population_melted" that contains the same data as "population", but
    * it has a new column "Year" containing the year of the observation
    * it has a new column "Population" containing the number of inhabitants of the country in this year
    * otherwise, it has exactly the same columns and data as "population"

In [ ]:
# population_melted = pd.melt(...)

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
from nose.tools import assert_is_instance, assert_equal, assert_almost_equal, assert_true

assert_is_instance(population_melted, pd.DataFrame)
assert_equal(len(population_melted), 16226)
assert_equal(population_melted.loc[(population_melted["Country Name"] == "Switzerland") & (population_melted["Year"] == "1960")]["Population"].values[0], 5327827.0)

### 1b (3 points)
We will use data about the average height in countries around the world. It comes from [Kaggle](https://www.kaggle.com/majyhain/height-of-male-and-female-by-country-2022).

In [ ]:
height = pd.read_csv("height_2022.csv")
height = height.drop(["Male Height in Ft", "Female Height in Ft"], axis=1)
height.head()

Manipulate the dataframe "height" to be tidy. Currently, multiple variables are stored in one column.

* Make a new dataframe "height_tidy" that contains the same data as "height", but
    * it has a new column "Sex" containing a single character "M" or "F" for "male"/"female"
    * it has a new column "Height in Cm" containing data about the height in cm

In [ ]:
# height_tidy = ...

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert_is_instance(height_tidy, pd.DataFrame)
assert_equal(len(height_tidy), 398)
assert_equal(len(height_tidy[height_tidy["Sex"] == "M"]), len(height_tidy[height_tidy["Sex"] == "F"]))
assert_equal(height_tidy.loc[(height_tidy["Country Name"] == "Switzerland") & (height_tidy["Sex"] == "F")]["Height in Cm"].values[0], 164.33)
assert_equal(height_tidy.loc[(height_tidy["Country Name"] == "Switzerland") & (height_tidy["Sex"] == "M")]["Height in Cm"].values[0], 178.73)

### 1c (4 points)
We will work with data about billboards in the 2000s (as in the lecture).

In [ ]:
billboard = pd.read_csv("billboard_intermediate.csv")
billboard.head()

Manipulate the dataframe "billboard" into two dataframes that each store one observational unit.

* Make a new dataframe "billboard_songs" that contains information about the songs
    * It should contain these columns from the "billboard" dataframe: "artist.inverted", "track", "time", "genre"
* Make a new dataframe "billboard_charts" that contains information about the chart performance of the songs
    * It should contain these columns from the "billboard" dataframe: "date", "date.peaked", "week", "rank"
* Additionally, both dataframes should contain a column named "track_id" that gives each track a unique ID and links the information in the two dataframes.

(Hint: Pandas has a function [.groupby().ngroup()](https://stackoverflow.com/questions/39665374/how-to-make-a-group-id-using-pandas) that could help you with the track id)

In [ ]:
# billboard_songs = ...
# billboard_charts = ...

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
import numpy as np

assert_is_instance(billboard_songs, pd.DataFrame)
assert_is_instance(billboard_charts, pd.DataFrame)
assert_true(np.array_equal(np.unique(billboard_songs["track_id"]), np.unique(billboard_charts["track_id"])))
assert_equal(len(billboard_songs), 317)
assert_equal(len(billboard_charts), 24092)

## 2 - EDA (6 points)

### 2a (2 points)
Let's answer one more question about billboard hits in the 2000s. Use the billboard, billboard_songs or billboard_charts dataframes.

What was the number one hit (rank = 1) on 2000/07/29? This question may seem random (and it is), but this is the 2000s! This is the day on which Jennifer Aniston married Brad Pitt. Did they play this song? Who knows.

* Define one variable
    * "name_song": Name of the song that was at rank 1 on the given date

In [ ]:
# name_song = ...

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert_equal(name_song, "It's Gonna Be Me")

### 2b (4 points)
Let's answer some questions about average heights. Use the height or height_tidy dataframes.

What's the country with the tallest men?

* Define two variables
    * "country_tallest_men": Name of the country of tallest men as a string
    * "height_tallest_men": Average height of men in this country in cm

(Hint: Pandas function max() can help here!)

In [ ]:
# country_tallest_men = ...
# height_tallest_men = ...

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert_equal(country_tallest_men, "Netherlands")
assert_equal(height_tallest_men, 183.78)

In which country is the difference of average heights between men and women largest?

* Define two variables
    * "country_largest_difference": Name of the country where the average height difference between men and women is largest
    * "largest_difference": Difference of average heights of men and women in this country in cm

In [ ]:
# country_largest_difference = ...
# largest_difference = ...

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert_equal(country_largest_difference, "Puerto Rico")
assert_almost_equal(largest_difference, 16.42)

What's (Pearson's) correlation value of average male and average female height?

* Define a new variable "corr_avg_heights" that contains the correlation value of average male and female heights

(Hint: Use Panda's function corr().)

In [ ]:
# corr_avg_heights = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert_almost_equal(corr_avg_heights, 0.9287870871294992)

## 3 (1 bonus point)
What's problematic about the (standard) data visualizations of our course questionnaire (see lecture slides 2-3 in lecture 2)?

Write a few sentences. Maximum 3.

YOUR ANSWER HERE